@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Symbols+Outlined');


.panel-tabset .nav-item {
    font-size: 16px;
}

table colgroup col {
    width: auto !important;
}
.btn-action-primary {
    color: white;
    background-color: #00205B !important;
}

.btn-action-primary:hover {
    background-color: #ffeb3b !important;
    color: #000 !important;
}

.btn-action {
    min-width: 165px;
    border-radius: 30px;
    border: none;
}

.dt-buttons {
      /* margin-bottom: -7px; */
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding-bottom: 0.3em;
}

.figure-caption {
    color: #373a3c;
    font-size: 16px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.tab-content {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #fff;
}

.quarto-title-banner {
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 40px;
    padding-left: 0px;
    margin-bottom: 0px;
}

.quarto-title-meta  {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    background-color: #fff;
}

#title-block-header.quarto-title-block {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    margin-bottom: 0px;
    background-color: #fff;
}

.quarto-title {
      background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20id%3D%22DAA_Logo%22%20width%3D%22280%22%20height%3D%2290.313%22%20viewBox%3D%220%200%20280%2090.313%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%3Cpath%20transform%3D%22translate%28-65.555%20-45.453%29%22%20d%3D%22M158.871%2C94.859c-12.288%2C1.754-24.744%2C4.737-24.744%2C4.737%2C8.995-3.336%2C23.115-6.444%2C23.115-6.444Zm20.272%2C1.706q.506-.791%2C1.018-1.662c.383-.652.875-1.492%2C1.451-2.648l.011-.023a1.434%2C1.434%2C0%2C0%2C0-1.19-2.073c-.536-.039-1.1-.078-1.671-.13-.887-.083-1.461-.141-2.213-.214a1.448%2C1.448%2C0%2C0%2C0-1.523.982%2C19.36%2C19.36%2C0%2C0%2C1-1.658%2C3.6%2C20.036%2C20.036%2C0%2C0%2C1-1.656%2C2.455%2C1.321%2C1.321%2C0%2C0%2C1-1.064.493%2C14.726%2C14.726%2C0%2C0%2C1-4.8-.943%2C14.124%2C14.124%2C0%2C0%2C1-7.47-6.3c-.7.221-1.465.411-2.228.606l-2.289.648c-.927.285-2.441.726-5.1%2C1.473-2.469.725-5%2C1.485-7.079%2C2.153-3.08.987-7.932%2C2.776-12.155%2C4.373a46%2C46%2C0%2C0%2C0%2C2.664%2C5.749%2C110.1%2C110.1%2C0%2C0%2C1%2C19.438-4.68A113.222%2C113.222%2C0%2C0%2C1%2C169.7%2C99.26a50%2C50%2C0%2C0%2C1%2C9.48.8c1.424.276%2C2.59.584%2C3.391.812a23.658%2C23.658%2C0%2C0%2C0%2C1.769-2.277%2C23.23%2C23.23%2C0%2C0%2C0%2C1.421-2.381%2C10.473%2C10.473%2C0%2C0%2C1-6.127%2C1.351.652.652%2C0%2C0%2C1-.492-1%22%20fill%3D%22%23d50032%22/%3E%0A%20%3Cpath%20transform%3D%22translate%28-43.203%20-38.229%29%22%20d%3D%22M96.407%2C88.126c-1.48-3.94-2.929-7.892-4.4-11.833A1.041%2C1.041%2C0%2C0%2C0%2C90.13%2C76c-.8.966-1.615%2C1.92-2.385%2C2.91a1.409%2C1.409%2C0%2C0%2C0-.256.869c.045.833.153%2C1.665.251%2C2.5.117.989.251%2C1.975.378%2C2.971L91.391%2C84l.223.324c-1.728.923-3.311%2C1.524-4.919%2C4.3%2C0%2C.012.011.022.015.035a19%2C19%2C0%2C0%2C0-1.346%2C3.911c.263.013.534.023.812.036.768-2.7%2C1.943-4.489%2C3.076-4.37%2C1.081.115%2C1.839%2C1.933%2C2.072%2C4.532%2C1.6-1.183%2C3.147-2.342%2C4.721-3.454a.856.856%2C0%2C0%2C0%2C.362-1.194%22%20fill%3D%22%23d50032%22/%3E%0A%20%3Cpath%20transform%3D%22translate%28-42.383%20-60.804%29%22%20d%3D%22M83.8%2C120.138a27.1%2C27.1%2C0%2C0%2C0-.01%2C3.469%2C8.394%2C8.394%2C0%2C0%2C0%2C.814-.231%2C21.076%2C21.076%2C0%2C0%2C1-.062-3.19l-.742-.048%22%20fill%3D%22%23d50032%22/%3E%0A%20%3Cpath%20transform%3D%22translate%280%29%22%20d%3D%22M135.4%2C22.077c-7.146%2C3.28-17.453%2C5.856-23.69%2C7.242.426.119.884.258%2C1.372.427.214.073.495.171.828.3%2C1.993-.285%2C3.849-.559%2C4.529-.677a85.043%2C85.043%2C0%2C0%2C0%2C19.558-5.438%2C37.014%2C37.014%2C0%2C0%2C0%2C4.193-2.28c-1.453%2C0-3.763-.038-5.213.018a4.306%2C4.306%2C0%2C0%2C0-1.576.41m-60.671%2C2.5a44.507%2C44.507%2C0%2C0%2C1%2C13.332-2.168%2C7.538%2C7.538%2C0%2C0%2C0-5.486-3.257s-1.861-5.846-2.515-8.227c15.535-2.883%2C52.184-2.8%2C55.584-2.788.167%2C0%2C.378-.194%2C0-.244C130.7%2C7.253%2C106%2C5.128%2C72.93%2C8.042c1.281%2C2.629%2C5.054%2C10.366%2C5.676%2C11.638-2.333%2C1.466-3.612%2C3.08-3.881%2C4.9m-7.15%2C3.071a28.225%2C28.225%2C0%2C0%2C1%2C3.655-1.918c-6.975.375-21.111.9-32.241.256a29.277%2C29.277%2C0%2C0%2C0-4.717.422s.884.13%2C1.165.16c12.07%2C1.706%2C25.8%2C1.352%2C32.138%2C1.08m-52.111-.728s1.213.306%2C1.544.4c18.846%2C4.88%2C37.439%2C5.885%2C44.329%2C6.218a19.317%2C19.317%2C0%2C0%2C1%2C3.94-4.26%2C402.259%2C402.259%2C0%2C0%2C1-43.133-2.665%2C46.283%2C46.283%2C0%2C0%2C0-6.681.3M60.049%2C1.153A208.958%2C208.958%2C0%2C0%2C0%2C13.491%2C7.467C10.1%2C8.307-.181%2C11.574%2C0%2C17.061c.2%2C5.988%2C12.24%2C7.055%2C22.6%2C6.968%2C10.222-.085%2C44.072-1.514%2C50.086-1.558a10.217%2C10.217%2C0%2C0%2C1%2C1.521-2.433c-11.073.338-39.492%2C1.136-52.158.825-9.579-.237-14.039-2.153-14.11-4.3C7.633%2C7.087%2C58.9%2C1.73%2C59.418%2C1.684c3.637-.335%2C2.677-.627.63-.531M58.964%2C4.59c1.152-.249%2C1.439-.556-.223-.374s-3.5.368-5.251.589c-2.725.348-40.045%2C6.075-39.859%2C11.643-.05%2C0%2C4.77-.187%2C5.391-.21%2C3-5.367%2C38.789-11.4%2C39.941-11.648m98.689%2C3.751C155.5%2C7.665%2C130.842-1.042%2C71.647.1c-.91-.005-3.053.075-3.053.075s1.924%2C3.443%2C2.766%2C4.855a1.035%2C1.035%2C0%2C0%2C0%2C.819.342c3.28-.212%2C6.556-.573%2C9.839-.677%2C45.334-2.141%2C73.371%2C3.761%2C75.5%2C4.2%2C1.5.312%2C2.283.116.133-.561m9.256%2C6.889c-1.753.07-61.017%2C2.335-79.029%2C3.024a10.254%2C10.254%2C0%2C0%2C1%2C2.714%2C2.818c8.79-.29%2C58.167-1.915%2C59.482-1.915%2C1.419%2C0%2C1.428.431-.132%2C1.546a31.953%2C31.953%2C0%2C0%2C1-5.039%2C2.921c-7.074%2C3.327-14.651%2C4.971-22.269%2C6.457-.654.128-3.731.469-6.811.805a20.571%2C20.571%2C0%2C0%2C1%2C2.964%2C1.8c4.877-.472%2C10.5-1.029%2C12.566-1.332a165.874%2C165.874%2C0%2C0%2C0%2C21.227-4.54A60.215%2C60.215%2C0%2C0%2C0%2C165.3%2C21.965a7.882%2C7.882%2C0%2C0%2C0%2C3.646-3.453%2C2.263%2C2.263%2C0%2C0%2C0-2.036-3.281%22%20fill%3D%22%231d428a%22/%3E%0A%20%3Cpath%20transform%3D%22translate%28-42.383%20-34.988%29%22%20d%3D%22M83.792%2C94.323a28.062%2C28.062%2C0%2C0%2C0%2C.123%2C4.768c.536%2C4.418%2C2.246%2C4.993%2C2.855%2C5.148a8.8%2C8.8%2C0%2C0%2C0%2C2.374.052c.612-.018%2C1.225-.1%2C1.838-.15.03.082.062.164.092.247-.8.333-3.107%2C1.086-3.107%2C1.086s.3%2C3.554.446%2C5.055l3.305.24c.435-2.268.825-4.412%2C1.275-6.544a2.067%2C2.067%2C0%2C0%2C1%2C.647-1.092c2.811-3.1%2C2.919-5.34%2C2.919-5.34s8.265-4.027%2C10-4.738q-.393-.836-.724-1.62c-.318.11-.609.208-.887.319Q97.643%2C94.68%2C90.34%2C97.624a1.657%2C1.657%2C0%2C0%2C0-.667.63c-.134.2-.263.411-.392.622-.737%2C1.916-1.7%2C3.1-2.623%2C3.005-2.412%2C0-2.107-7.488-2.107-7.488Zm2.6-4.91%2C1.551.057.21-2c-.62-.049-1.255.707-1.761%2C1.94m1.017%2C5.142-2-.129c-.094%2C2.724.509%2C4.847%2C1.49%2C4.979Zm2.942-23.6a7.53%2C7.53%2C0%2C0%2C0-.221-.837c-.144-.339-.3-.936-.484-.947-.626-.048-1.5-.123-1.867.237-1.115%2C1.1-2.358%2C2.286-1.4%2C4.232.32-.382.627-.77.958-1.133.791-.866%2C1.324-2.176%2C3.012-1.551m61.986%2C21.65a70.5%2C70.5%2C0%2C0%2C1-9.1%2C4.814%2C58.185%2C58.185%2C0%2C0%2C1-10.432%2C3.817c-.184.044-.368.082-.552.124%2C1.879-.688%2C3.722-1.476%2C5.546-2.309a66.466%2C66.466%2C0%2C0%2C0%2C9.88-5.329c.668-.454%2C1.282-.9%2C1.844-1.316.583.03%2C1.167.066%2C1.751.113.377.03.727.06%2C1.06.088m-33.066%2C11.887-8.642%2C3.188a6.778%2C6.778%2C0%2C0%2C1%2C.336-1.032%2C6.258%2C6.258%2C0%2C0%2C1%2C1.369-2.088%2C11.577%2C11.577%2C0%2C0%2C1%2C2.6-1.719%2C12.3%2C12.3%2C0%2C0%2C0%2C4.339%2C1.651m36.318-10.7c1.249-.905%2C2.273-1.728%2C3.04-2.378-2.648-.976-4.011-1.115-7.9-1.431a100.213%2C100.213%2C0%2C0%2C0-16.979.4A102.41%2C102.41%2C0%2C0%2C0%2C120.135%2C92.5c-1.25.295-3.774.894-7.015%2C1.986-1.445.488-2.649.947-3.541%2C1.305a18.311%2C18.311%2C0%2C0%2C0%2C1.574%2C3.093c3.157-1.064%2C6.867-2.288%2C9.284-2.985%2C4.934-1.422%2C13.539-2.385%2C11.9-1.9a85.54%2C85.54%2C0%2C0%2C0-18.792%2C7.761.04.04%2C0%2C0%2C1%2C.006.007c-.079.043-.152.083-.223.124q-.852.513-1.669%2C1.053a7.5%2C7.5%2C0%2C0%2C0-1.636%2C1.613%2C11.146%2C11.146%2C0%2C0%2C0-.832%2C1.405%2C22.52%2C22.52%2C0%2C0%2C0-1.17%2C2.547q-1.128.361-2.316.705-1.117.326-2.2.613a1.334%2C1.334%2C0%2C0%2C0-.278%2C1.667%2C1.173%2C1.173%2C0%2C0%2C0%2C.778.446c2.585-.793%2C4.711-1.468%2C6.2-1.947%2C5.792-1.858%2C6.346-2.149%2C14.482-5.078a40.651%2C40.651%2C0%2C0%2C0%2C6.78-.6%2C49.747%2C49.747%2C0%2C0%2C0%2C5.66-1.412%2C69.039%2C69.039%2C0%2C0%2C0%2C7.379-2.943%2C79.4%2C79.4%2C0%2C0%2C0%2C7.423-3.785c1.5-.9%2C2.73-1.731%2C3.654-2.386l0%2C0m8.4%2C7.1a.917.917%2C0%2C0%2C0-1.783-.288c-.131.333-.246.647-.329.807a4.868%2C4.868%2C0%2C0%2C1-.958%2C1.171%2C4.65%2C4.65%2C0%2C0%2C1-1.489.893%2C4.526%2C4.526%2C0%2C0%2C1-1.128.256%2C22.919%2C22.919%2C0%2C0%2C0-.83-3.15%2C18.144%2C18.144%2C0%2C0%2C0-1.044-2.533%2C10.268%2C10.268%2C0%2C0%2C0-1.755-2.367c-.493.31-1.06.655-1.69%2C1.019a10.9%2C10.9%2C0%2C0%2C1%2C1.207%2C1.453%2C12.661%2C12.661%2C0%2C0%2C1%2C2.123%2C6.2L139.819%2C109.3a11.931%2C11.931%2C0%2C0%2C0-.981-2.452%2C10.253%2C10.253%2C0%2C0%2C0-2.036-2.738c-.669.2-1.292.356-1.86.483a8.362%2C8.362%2C0%2C0%2C1%2C1.715%2C1.965%2C10.931%2C10.931%2C0%2C0%2C1%2C1.5%2C3.247c-1.267.454-2.592.88-3.98%2C1.263-.233.064-.464.127-.7.187a1.442%2C1.442%2C0%2C0%2C0-.213.456%2C1.108%2C1.108%2C0%2C0%2C0%2C.027.829%2C1.008%2C1.008%2C0%2C0%2C0%2C.59.484c14.689-4.277%2C23.9-6.953%2C24.712-7.171.058-.017.308-.084.637-.192a11.011%2C11.011%2C0%2C0%2C0%2C1.555-.638%2C6.517%2C6.517%2C0%2C0%2C0%2C1.958-1.617%2C7.817%2C7.817%2C0%2C0%2C0%2C1.165-2.165.886.886%2C0%2C0%2C0%2C.075-.356%22%20fill%3D%22%231d428a%22/%3E%0A%20%3Cpath%20transform%3D%22translate%28-69.054%20-29.476%29%22%20d%3D%22M191%2C73.472a14.512%2C14.512%2C0%2C0%2C0-1.323-4.157%2C21.49%2C21.49%2C0%2C0%2C0-1.631-2.692l-1.078.227s-.919.176-2.708.437c.472.96.93%2C1.939%2C1.222%2C2.6.841%2C1.536%2C3.661%2C3.162%2C5.518%2C3.582m-4.554%2C2.755c-.778%2C1.547-1.579%2C3.017-2.387%2C4.41.717-.125%2C1.454-.27%2C2.225-.444.946-.222%2C1.848-.458%2C2.7-.7a1.389%2C1.389%2C0%2C0%2C0%2C.885-.748%2C16.267%2C16.267%2C0%2C0%2C0%2C.973-3.065c.061-.319.116-.631.162-.936l-2.332-.729a1.162%2C1.162%2C0%2C0%2C0-1.407.555c-.264.547-.537%2C1.095-.816%2C1.657m-22.36-1.6a9.293%2C9.293%2C0%2C0%2C0%2C.584.83%2C12.032%2C12.032%2C0%2C0%2C0%2C6.476%2C4.045%2C13.9%2C13.9%2C0%2C0%2C0%2C1.814.373%2C1.911%2C1.911%2C0%2C0%2C0%2C1.828-.773c.256-.367.533-.791.809-1.266a17.865%2C17.865%2C0%2C0%2C0%2C.946-1.89c.219-.5.471-1.094.727-1.789a1.284%2C1.284%2C0%2C0%2C0-1.145-1.736c-.123%2C0-.244-.006-.373-.013-1.208-.04-3.152-.059-7.9.238-.772.045-1.729.108-2.836.192a1.177%2C1.177%2C0%2C0%2C0-.926%2C1.787m-3.321-5.3c.056.191.1.33.115.39a3.139%2C3.139%2C0%2C0%2C0%2C3.28%2C2.247c1.047-.089%2C2.108-.176%2C3.193-.247a68.689%2C68.689%2C0%2C0%2C1%2C7.768-.153%2C4.855%2C4.855%2C0%2C0%2C0%2C2.8-.524%2C5.213%2C5.213%2C0%2C0%2C0%2C1.762-3.153c-4.406.513-10.759%2C1.095-18.915%2C1.44m-6.448.21c.011.375.022.74.034%2C1.082v.005c.009.2.014.4.019.587a.01.01%2C0%2C0%2C1%2C0%2C.008c.006.169.011.332.017.487%2C0%2C.038%2C0%2C.076%2C0%2C.113.006.139.011.274.017.4v.019c.006.128.01.244.015.349%2C0%2C.028%2C0%2C.055%2C0%2C.08.006.1.011.195.016.271v0c.061%2C1.02.441%2C1.29.76%2C1.332a.886.886%2C0%2C0%2C0%2C.46-.074l1.194-.319c.519-.14.981-.266%2C1.76-.488l.34-.095a1.652%2C1.652%2C0%2C0%2C0%2C1.342-1.724%2C2.7%2C2.7%2C0%2C0%2C0-.032-.33c-.013-.067-.023-.123-.035-.167-.014-.062-.026-.1-.026-.1a.123.123%2C0%2C0%2C1-.007-.016v0c-.034-.113-.226-.708-.509-1.583q-2.575.1-5.376.166m4.235-3.7h0c0-.007-.005-.015-.009-.024-.073-.226-.15-.459-.223-.689q-1.987-.038-4.131-.12c0%2C.063%2C0%2C.122%2C0%2C.186%2C0%2C.027%2C0%2C.054%2C0%2C.082.014.5.029%2C1.026.044%2C1.562q1.581.022%2C3.172.023c.5%2C0%2C.987%2C0%2C1.472%2C0-.107-.333-.218-.673-.33-1.019m-5.487.974L153%2C64.956c-1.869-.08-3.817-.189-5.832-.333l-.426.274a1.087%2C1.087%2C0%2C0%2C0-.191.16c-.015.015-.03.031-.044.044a1.745%2C1.745%2C0%2C0%2C0-.469%2C1.071l.011.389q3.47.177%2C7.011.25m-6.93%2C2.818.177%2C6.725a.537.537%2C0%2C0%2C0%2C.763.489l5.508-1.72a1.045%2C1.045%2C0%2C0%2C0%2C.719-.952l-.147-4.614q-3.355.069-7.02.071m-6.317%2C1.678h0l.2%2C7.31c.012.4.355.6.768.452l3.745-1.346a1.115%2C1.115%2C0%2C0%2C0%2C.15-.07%2C1.176%2C1.176%2C0%2C0%2C0%2C.524-.617l.04-.151c.034-.1.015-.052.012-.151l-.213-7.108q-2.2-.006-4.505-.037l-.059.044a1.733%2C1.733%2C0%2C0%2C0-.665%2C1.673M137.2%2C72.523a2.491%2C2.491%2C0%2C0%2C0-.754%2C1.737c0%2C.126%2C0%2C.262.018.4a9.529%2C9.529%2C0%2C0%2C0%2C.155.967s.637%2C3.318.8%2C3.915a1.09%2C1.09%2C0%2C0%2C0%2C.427.606c.1.064.112.027.253-.005.047-.011.1-.027.148-.045.256-.1.385-.147.444-.172l.044-.017c.367-.186.411-.571.4-1.089l-.241-6.965c-.011-.375-.276-.683-.633-.389a9.047%2C9.047%2C0%2C0%2C0-1.063%2C1.054m15.759-9.011-.047-1.438a1.133%2C1.133%2C0%2C0%2C0-.094-.436h0a.943.943%2C0%2C0%2C0-.069-.121l-.012-.013a.466.466%2C0%2C0%2C0-.08-.079.289.289%2C0%2C0%2C0-.027-.019.382.382%2C0%2C0%2C0-.077-.041.221.221%2C0%2C0%2C0-.052-.013.244.244%2C0%2C0%2C0-.07-.011.622.622%2C0%2C0%2C0-.077.009c-.018%2C0-.035%2C0-.056.01a.568.568%2C0%2C0%2C0-.134.065l-.007%2C0-2.66%2C1.708q1.7.2%2C3.465.378m4.513-.986h0a.3.3%2C0%2C0%2C1-.012-.035c-.1-.322-.209-.637-.31-.945l-.006-.013c-.1-.318-.206-.628-.3-.922-.282-.846-.973-1.078-1.491-.805-.181.1-.349.177-.482.238-.568.267-.74.719-.758%2C1.486%2C0%2C.11%2C0%2C.228%2C0%2C.349a.081.081%2C0%2C0%2C1%2C0%2C.017c0%2C.015%2C0%2C.036%2C0%2C.066s0%2C.1%2C0%2C.17c.007.3.02.828.038%2C1.5q1.862.178%2C3.785.327c-.156-.483-.314-.962-.467-1.429m14.506-3.972a50.223%2C50.223%2C0%2C0%2C0-13.23.256%2C1.1%2C1.1%2C0%2C0%2C0-.848%2C1.446c.16.477.765%2C2.332%2C1.237%2C3.786%2C2.962.213%2C6.025.376%2C9.192.473%2C2.352.073%2C5.369.11%2C7.22.111.327%2C0%2C.278.059-.01.081-2.2.181-8%2C.548-16.048.436.1.324.184.569.218.684a0%2C0%2C0%2C0%2C1%2C.005%2C0c.091.3.2.658.309%2C1.026%2C8.809-.04%2C15.269-.273%2C20-.589.056-.319.106-.646.153-.981.006%2C0%2C.052-.418.049-.417a5.09%2C5.09%2C0%2C0%2C0-.643-2.846c-1.452-2.4-5.018-3.2-7.607-3.467m15.274%2C7.025a11.325%2C11.325%2C0%2C0%2C0-1.129-1.228%2C19.18%2C19.18%2C0%2C0%2C0-1.931-1.658%2C20.6%2C20.6%2C0%2C0%2C0-3.311-1.982%2C21.585%2C21.585%2C0%2C0%2C0-2.457-.993%2C24.811%2C24.811%2C0%2C0%2C0-2.46-.707%2C12.255%2C12.255%2C0%2C0%2C1%2C7.131%2C6.061l.011%2C0c.147.262.318.578.493.915%2C1.422-.13%2C2.63-.268%2C3.653-.405%22%20fill%3D%22%231d428a%22/%3E%0A%20%3Cpath%20transform%3D%22translate%28-138.46%20-72.527%29%22%20d%3D%22M411.149%2C151.6a3.622%2C3.622%2C0%2C0%2C1%2C3.6%2C2.777h-7.18a3.631%2C3.631%2C0%2C0%2C1%2C3.576-2.777m.056%2C11.237a7.346%2C7.346%2C0%2C0%2C0%2C7.045-4.537h-3.764a3.873%2C3.873%2C0%2C0%2C1-3.2%2C1.523%2C3.732%2C3.732%2C0%2C0%2C1-3.736-2.91h10.809a5.476%2C5.476%2C0%2C0%2C0%2C.1-1.148%2C7.317%2C7.317%2C0%2C1%2C0-7.257%2C7.072m-15.721%2C0a6.8%2C6.8%2C0%2C0%2C0%2C6.992-5.551h-3.683a3.39%2C3.39%2C0%2C0%2C1-3.309%2C2.189%2C3.763%2C3.763%2C0%2C0%2C1%2C0-7.526%2C3.389%2C3.389%2C0%2C0%2C1%2C3.309%2C2.189h3.683a6.794%2C6.794%2C0%2C0%2C0-6.992-5.551%2C7.128%2C7.128%2C0%2C1%2C0%2C0%2C14.251m-22.552-.32H376.4v-7.474a2.97%2C2.97%2C0%2C0%2C1%2C3.2-3.094%2C2.823%2C2.823%2C0%2C0%2C1%2C2.963%2C3.042v7.526h3.469v-8.645a4.978%2C4.978%2C0%2C0%2C0-5.309-5.285%2C5.6%2C5.6%2C0%2C0%2C0-4.324%2C1.841v-1.521h-3.469Zm-10.277-3.042a3.763%2C3.763%2C0%2C1%2C1%2C3.762-3.764%2C3.671%2C3.671%2C0%2C0%2C1-3.762%2C3.764m-.667%2C3.362a5.852%2C5.852%2C0%2C0%2C0%2C4.428-1.92v1.6h3.474v-13.61h-3.474v1.6a5.848%2C5.848%2C0%2C0%2C0-4.428-1.92c-3.792%2C0-6.646%2C3.068-6.646%2C7.124s2.854%2C7.126%2C6.646%2C7.126m-12.439-.32h3.469V143.3h-3.469Zm-10.446.32a5.266%2C5.266%2C0%2C0%2C0%2C4.136-1.814v1.493h3.469v-13.61h-3.469v7.658a2.782%2C2.782%2C0%2C0%2C1-2.989%2C2.91%2C2.663%2C2.663%2C0%2C0%2C1-2.8-2.856v-7.712h-3.469v8.727a4.867%2C4.867%2C0%2C0%2C0%2C5.125%2C5.2m-14.268-3.362a3.763%2C3.763%2C0%2C1%2C1%2C3.736-3.764%2C3.671%2C3.671%2C0%2C0%2C1-3.736%2C3.764m-7.206%2C3.042H321.1v-1.6a5.86%2C5.86%2C0%2C0%2C0%2C4.431%2C1.92c3.792%2C0%2C6.62-3.069%2C6.62-7.126s-2.828-7.124-6.62-7.124a5.856%2C5.856%2C0%2C0%2C0-4.431%2C1.92V143.3h-3.469Zm-24.112%2C0h3.469v-7.767a2.7%2C2.7%2C0%2C0%2C1%2C2.882-2.8%2C2.557%2C2.557%2C0%2C0%2C1%2C2.67%2C2.748v7.82h3.469v-7.767a2.674%2C2.674%2C0%2C0%2C1%2C2.854-2.8%2C2.543%2C2.543%2C0%2C0%2C1%2C2.668%2C2.748v7.82H315v-8.861a4.74%2C4.74%2C0%2C0%2C0-4.99-5.069%2C5.441%2C5.441%2C0%2C0%2C0-4.668%2C2.348%2C4.757%2C4.757%2C0%2C0%2C0-4.328-2.348%2C5.148%2C5.148%2C0%2C0%2C0-4.027%2C1.735v-1.414h-3.469Zm-13.426-6.965%2C2.722-7.395%2C2.7%2C7.395Zm-6.511%2C6.965h3.976l1.282-3.576h7.928l1.307%2C3.576H292.1L285.026%2C144.1h-4.345Z%22%20fill%3D%22%231d428a%22/%3E%0A%20%3Cpath%20transform%3D%22translate%28-226.75%20-45.228%29%22%20d%3D%22M474.574%2C109.221h3.469v-6.485c0-2.3%2C1.547-3.764%2C4.319-3.764h.508V95.4h-.508a5.284%2C5.284%2C0%2C0%2C0-4.319%2C2.269V95.61h-3.469Zm-6.567%2C0h3.469V95.61h-3.469Zm1.735-15.533a2.163%2C2.163%2C0%2C1%2C0-2.192-2.162%2C2.143%2C2.143%2C0%2C0%2C0%2C2.192%2C2.162m-15.214%2C8.566%2C2.722-7.393%2C2.7%2C7.393Zm-6.511%2C6.966h3.978l1.277-3.576h7.93l1.307%2C3.576h4.029L459.463%2C90.8h-4.345Z%22%20fill%3D%22%231d428a%22/%3E%0A%20%3Cpath%20transform%3D%22translate%28-140.35%20-46.705%29%22%20d%3D%22M341.712%2C110.7h3.469v-7.474a2.969%2C2.969%2C0%2C0%2C1%2C3.2-3.1%2C2.824%2C2.824%2C0%2C0%2C1%2C2.963%2C3.042V110.7h3.471v-8.647a4.982%2C4.982%2C0%2C0%2C0-5.313-5.284%2C5.6%2C5.6%2C0%2C0%2C0-4.324%2C1.841V97.087h-3.469Zm-9.528-3.043a3.763%2C3.763%2C0%2C1%2C1%2C3.734-3.764%2C3.67%2C3.67%2C0%2C0%2C1-3.734%2C3.764m0%2C3.363a7.128%2C7.128%2C0%2C1%2C0-7.314-7.126%2C7.07%2C7.07%2C0%2C0%2C0%2C7.314%2C7.126m-16.494-.32h3.6l5.657-13.611h-3.9l-3.525%2C9.287-3.523-9.287h-3.948ZM302.85%2C99.781a3.624%2C3.624%2C0%2C0%2C1%2C3.606%2C2.777h-7.18a3.628%2C3.628%2C0%2C0%2C1%2C3.574-2.777m.056%2C11.237a7.34%2C7.34%2C0%2C0%2C0%2C7.045-4.538h-3.762a3.873%2C3.873%2C0%2C0%2C1-3.2%2C1.523%2C3.734%2C3.734%2C0%2C0%2C1-3.736-2.911h10.811a5.452%2C5.452%2C0%2C0%2C0%2C.1-1.146%2C7.316%2C7.316%2C0%2C1%2C0-7.259%2C7.072m-18.47-15.268a5.739%2C5.739%2C0%2C0%2C1%2C0%2C11.477H281V95.751ZM277.309%2C110.7h7.208a9.21%2C9.21%2C0%2C1%2C0%2C0-18.417h-7.208Z%22%20fill%3D%22%23d50032%22/%3E%0A%20%3Cpath%20transform%3D%22translate%28-35.383%20-24.994%29%22%20d%3D%22M138.294%2C52.985a29.381%2C29.381%2C0%2C0%2C0-11.078-3.473c-5.727-.632-22.389.762-29.17%2C11.231A12.1%2C12.1%2C0%2C0%2C0%2C96.6%2C65.765c.694-1.459%2C2.243-3.471%2C5.687-5.455%2C9.064-5.22%2C14.123-5.732%2C14.123-5.732a98.864%2C98.864%2C0%2C0%2C0-12.092%2C6.815c-7.076%2C4.6-7.622%2C8.034-7.091%2C10.074.264%2C1.013.419%2C1.574.533%2C2.116-2.876%2C1.791-6.872%2C4.34-10.291%2C6.517a2.839%2C2.839%2C0%2C0%2C1-1.671.484c-5.193-.044-12.14-.447-12.8-.447-1.075%2C0-2.4%2C1.322-2.931%2C2.065s.536.742.536.742%2C9.641.618%2C12.972.835a4.8%2C4.8%2C0%2C0%2C0%2C2.148-.383c3.256-1.45%2C13.187-5.886%2C14.606-6.561%2C1.7-.809%2C2.13-1.635%2C1.692-3.454-.34-1.412-.131-.5-.5-2.293-.4-2%2C.432-3.559%2C2.808-5.638a68.008%2C68.008%2C0%2C0%2C1%2C12.965-9.2c4.059-2.292%2C5.668-3.3%2C11.716-3.586a57.036%2C57.036%2C0%2C0%2C1%2C9.284.324%22%20fill%3D%22%23d50032%22/%3E%0A%3C/svg%3E%0A");
        display: block;
        background-color: #00B0B9;
        background-repeat: no-repeat;
        background-size: 90px;
        background-position: 0px 0px;
}

.quarto-title p.subtitle {
        margin-top: 10px;
        font-size: 22px;
        font-weight: 300;
}

.quarto-title h1.title {
        text-indent: 3.7em;
        font-size: 30px;
}

.callout-caption-container {
    color: #00205B;
}

.bg-primary {
    color: #00205B;
}


.html-fill-container {
    color: #00205B;
}

.navbar-container {
    background-color: #00205B;
}

.html-fill-item {
    color: white;
}

.value-box-title {
    color: white;
}

.value-box-value {
    color: white;
}

.dt-container {
    color: black
}

.callout {
    background-color: white;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: .25rem;
}

.callout-note.callout {
    border-left-color: #00205B;
    background-color: white;
}

.callout.callout-style-simple {
    padding: .01em .7em;
}

.title {
    font-size: 28px;
    font-weight: lighter;
}

h1, .h1 {
    font-size:30px;
    font-weight:600;
}

h2, .h2 {
   font-size:20px;
   font-weight:600;
}

h3, .h3 {
   font-size:18px;
   font-weight:600;
}

.header-section-number {
    color: #373a3c;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');

.opensans {
    font-family: "Poppins", sans-serif;
}

.poppins {
    font-family: "Poppins", sans-serif;
}


body {
   -moz-osx-font-smoothing:grayscale;
   -webkit-font-smoothing:antialiased;
}
