@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Symbols+Outlined');

[data-testid="stSidebar"] h1,
[data-testid="stSidebar"] h2,
[data-testid="stSidebar"] h3,
[data-testid="stSidebar"] h4,
[data-testid="stSidebar"] a,
[data-testid="stSidebar"] p,
[data-testid="stSidebar"] ul  {
    color: white
}


[data-testid="stSidebar"] ul,
[data-testid="stSidebar"] ul li,
[data-testid="stSidebar"] ul ul {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    line-height: 1.1;
}

[data-testid="stSidebar"] {
    background-color: #00205b ;
}

[data-testid="stSidebarNavViewButton"]  {
    color: white
}

[data-testid="stNavSectionHeader"]  {
    color: white
}

[data-testid="stSidebarNavLink"] span {
    color: white;
    font-family: "Poppins", sans-serif;
}

[data-testid="stTickBarMin"],
[data-testid="stTickBarMax"] {
    color: white;
    font-family: "Poppins", sans-serif;
}

* {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}



.block-container {
    width: 100%;
    padding: 3rem 2rem 2rem;
    min-width: auto;
    max-width: initial;
}


/* .st-emotion-cache-1inwz65 {
    color: white
} */
